.container{
    /* background-color: red; */
    
}

.imgContainer{
    height: 300px;
    width: 100%;
    position: relative;
}

.img{
    object-fit: cover;
    filter: grayscale(100%);

}

.imgText{
    position: absolute;
    left: 5%;
    bottom: 10%;
    color: white;
    background-color: rgba(172, 194, 154, 0.737);
}

.textContainer{
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.item{
    display: flex;
    flex-direction:column;
    flex: 1;
    gap: 10px;
}
.desc{
    font-weight: 300;
    font-size: 1rem;
}